<!-- EJS for the login page -->

<!DOCTYPE html>
<html lang="en">
  <head></head>
    <body style="font-size:20px; padding:50px; background-color: #ADD8E6";>
      <% include partials/_header %>
        <div align="left">
          <br></br>
            Please login below:
              </div>
                <br></br>
                  <form method="POST" action="/login"> <a>Email:</a>
                    <input type = "email" name="email">
                      <a>Password:</a>
                    <input type = "password" name="password">
                  <button type="submit" name="login">Login</button>
                </form>
              </body>
            </html>
            <br></br>
or: <a href=/register>Register</a>

<style>

  h1 {text-align:center;}
  p {text-align:center;}

</style>

<br></br>
<br></br>
<br></br>

  <h1><a href=/urls>TinyApp</a></h1>
  <p>A Cool App.</p>
