<!DOCTYPE html>
<html lang="en">
  <head></head>
  <body style="font-size:20px; padding:50px;">

    <% include partials/_header %>
    

    <form method="POST" action="/login"> <a>Username:</a>
      <input name="username">
      <a>Password:</a>
      <input name="password">
      <button type="submit" name="login">Login</button>
    </form>

  </body>
</html>
